.ProductDetail{
    background: #ccc;

    .left{
       img{
        width: 100%;
        height: 600px;
        object-fit: cover;
       }
    }
    .right{

        h1{
            font-size: 3.5em;
        }
        .prix{
            font-size: 2em;
        }
        .form-group{

            button{
                width: 125px;
                padding: 10px;
                color: #fff;
                background: #66EB9A;
                border: none;
                text-shadow: 1px 1px 2px #ccc;
                text-transform: capitalize;
                font-weight: bold;
            }
            select{
                width: 55px;
                background: #a59f9f;
                font-weight: 500;
                border: 3px solid #66EB9A;
            }
        }
    }
}