.solde{
    
    header{
        height: 30em;
        width: 100%;
        position: relative;
        overflow: hidden;
        background: linear-gradient(to bottom, #E74040, #E77C40);

        .left{
            display: grid;
            place-items: center; 

            p{
                letter-spacing: 1px;
                line-height: 35px;
            }
        }

        .right{
            img{
                object-fit: cover;
                position: relative;
                width: 100%;
                bottom: 0px;
            }
        }
    }
}